
body {
    background-image:url(https://images.unsplash.com/photo-1503116349592-811abf1d9f38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1099&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

h1 {
	text-align:center;
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#startButton {
	text-align:center;
	background-color:black;
	color:red;
	width:150px;
	padding:10px;
	top:610px;
	font-size:16px;
	font-weight:bold;
}

#startButton:hover {
	background-color:darkslategrey;
}


#title {
	color:#fff;
}

#timer {
	margin-left:-15px;
	font-size:24px;
	font-weight:bold;
	color:white;
	padding:20px;

}

#question {
	font-size:24px;
	
}

#newGame {
	margin-left:305px;
}

.btn-custom {
	color:red;
	margin-top:40px;
	text-align:center;
	background-color:black;
	width:150px;
	padding:10px;
	font-size:16px;
	font-weight:bold;
}

.btn-custom2 {
	color:red;
	margin-top:40px;
	text-align:center;
	background-color:black;
	width:150px;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

#results {
	font-size:18px;
}

#questionFontWeight {
	font-size:24px;
	color:white;
}

.btn-sucess {
	background-color:#d72027;
}

#endResults {
	color:#fff;
	font-size:30px;
	font-weight:bold;
	text-align:center;
}

#finalStats {
	color:#fff;
	font-size:24px;
	text-align:center;
	
}